# CVS default ignores begin
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
*.a
*.o
*.so
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.pyc
# OSX system files
.DS_store

/verification/*.log
/verification/tr_*
/verification/rs_*
/verification/tst_2+2_out.txt
/verification/tmp_*

/verification/*/tr_run.*
